@page
@model PlayerBank.Pages_Colleges.AddCollegeModel

@{
    ViewData["Title"] = "Add Colllege";
}
<h1>Create</h1>

<h4>Add College</h4>
<hr />
<form method="post">
    <div class="row mb-3">
        <div class="col-4">
            <label asp-for="College.CollegeName" class="form-label"></label>
            <input asp-for="College.CollegeName" class="form-control">
            <span asp-validation-for="College.CollegeName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <label asp-for="College.CollegeCity" class="form-label"></label>
            <input asp-for="College.CollegeCity" class="form-control"></textarea>
            <span asp-validation-for="College.CollegeCity" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <label asp-for="College.CollegeState" class="form-label"></label>
            <input asp-for="College.CollegeState" class="form-control"></textarea>
            <span asp-validation-for="College.CollegeState" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}